body {    
    background-color: #04304a;
    font-family: 'Courier New', Courier, monospace;
    color: #fcfdfe;
}

.nav_bar {
}
.container {
}
.row {
}
.col-8 {
}
.col-4 {
}
.col-3.nav_logo {
}
.col-9 {
}
.nav_text {
}
.img_size {
}
.title_photo {
}